* {margin:0; padding:0;}

body {
	font-family:"Myriad Pro Light", "Myriad Pro", "Myriad Pro Cond";
	min-width:1000px;
	width: auto;
	height:100%;
	margin-left: 0 auto;
	margin-right: 0  auto;
	display: block;
}

#wrapper {
	margin:0 auto 0 auto;
	position:relative;
	padding-top:20px;
	overflow:hidden;
}

#header {
	height:100px;
    padding:0px 20px 0px 40px
}

#headerleft {
	width:35%;
	height:auto;
	float:left;
    padding-top: 20px;
    display: block;
}

#headerleft img{
	width:100%;
}

#headerright {
	width:65%;
	float:left;
	position:relative;
    padding-top: 20px;
    display: block;
}

#slider {
	overflow:hidden;
	position:relative;
	z-index:0;
}

/*content top*/

#content {
	-webkit-box-shadow: 0 0 5px rgba(80, 80, 80, 0.8);
  	box-shadow: 0 0 5px rgba(80, 80, 80, 0.8);
	position:relative;
	z-index:2;
	position:relative;
	z-index:1;
	float:left;
	/*margin-left:320px;*/
	background-color:#FFF;
}

.wrapper {
	float:left;
	width:100%;
}

#top {
	background:#FFF;
	margin-top:-3px;
}

#top .container {
	display:table;
	table-layout:fixed;
	margin:0 auto;
	padding:0 20px;
	width:auto;
}

#content #top .container #left {
	padding:20px 20px 26px 0;
	display:table-cell;
	position:relative;
	vertical-align:top;
	width:300px;
}

#content #top .container #left h1 {
	font-size:18px;
	color:#040034;
}

#content #top .container #left p {
	font-size:12px;
	color:#666;
	line-height:25px;
	margin-top:10px;
}

#content #top .container #middle {
	/*background-color:#a6a8ab;*/
	background-color:#EAA82E;
	/*background-color:#bd9706;*/
	color:#FFF;
	font-family:"Myriad Pro Light", "Myriad Pro", "Myriad Pro Cond";
	font-size:22px;
	font-weight:bold;
	line-height:30px;
	min-width:280px;
	padding:100px 20px;
	text-align:center;
	vertical-align:middle;
	width:280px;
}

#content #top .container #right {
	padding:20px 0 20px 20px;
	display:table-cell;
	position:relative;
	vertical-align:top;
	width:300px;
}

#content #top .container #right h1 {
	font-size:18px;
	color:#040034;
}

#content #top .container #right p {
	font-size:12px;
	line-height:25px;
	color:#666;
	margin-top:10px;
}

#content #top .container #right a {
	text-decoration:none;
	color:#BD9806;
}

#content #top .container #right a:hover {
	text-decoration:underline;
	color:#040034;
}

/*end content top*/

/*content bottom*/

#bottom {
	/*background-color:#c7c7c7;*/
	/*background-color:#e8b048;*/
	background-color:#efefef;
	float:left;
	padding:10px 0 0;
	width:100%;
}

#bottom .container {
	position:relative;
	margin:0 auto;
	padding:0 20px;
	width:auto;
}

#bottom .container h2 {
	font-size:18px;
	color:#FFF;
	margin-bottom:10px;
}

#bottom .business {

	height:auto;
	overflow:hidden;
	position:relative;
	width:auto;
/*	padding: 20px 92px 30px;*/
    padding: 20px 10px
}

#bottom .business img.benoalngbanner {
    display: block;
    margin-left: auto;
    margin-right: auto; }
}
/*end content bottom*/

/*footer*/

.wrapper {
	float:left;
	width:100%;
}

footer {
	background-color:#0f2b5b;
	position:relative;
	z-index:1;
	display:block;
}

.container {
	margin:0 auto;
	padding:0 20px;
	width:960px;
	overflow:hidden;
	height:auto;
}

.footer-menu {
	margin:5px 0 8px;
	padding:0;
}

footer .right {
	float:right;
}

footer .right a {
	color:#BD9806;
	float:left;
	height:24px;
	width:24px;
}

footer .right a.twitter {
	background:transparent url(../images/twitterlogo.png) center center no-repeat;
}

footer .right a.linked-in {
	background:transparent url(../images/inlogo.png) center center no-repeat;
	margin-left:5px;
}

footer .left {
	color:#CCC;
	font-size:12px;
}

footer .left a {
	text-decoration:none;
	color:#CCC;
}

footer .left a:hover {
	text-decoration:none;
	color:#BD9806;
}
/*end footer*/

/*about*/

#contentabout {
	background-color:#c7c7c7;
	position:relative;
	z-index:2;
}

#left {
	position:absolute;
	top:0;
	left:0;
	height:auto;
	z-index:0;
	width:50%;
}

#sub-menu {
	float:left;
	clear:both;
	width:100%;
	background-color:#edeeee;
}

#sub-menu .inside {
	float:right;
	padding:25px 25px 10px 0;
	width:295px;
	margin-right:160px;
}

#sub-menu .inside ul {
	display:block;
	margin:0;
	padding:0;
	list-style-type:none;
}

#sub-menu .inside ul li {
	display:inline-block;
	width:100%;
	padding-bottom:10px;
}

#sub-menu .inside ul li a {
	display:inline-block;
	width:100%;
	font-size:14px;
	text-transform:uppercase;
	color:#a6a8ab;
	text-decoration:none;
	font-weight:bold;
}

#sub-menu .inside ul li a:hover {
	color:#EAA82E;
	text-decoration:none;
	font-weight:bold;
}

/*contact-module*/

#main {
	background-color: #c7c7c7;
}

#main {
	box-shadow: 0 0 5px rgba(80, 80, 80, 0.8);
  position: relative;
  z-index: 2;
}

#contact-module {
	float:left;
	clear:both;
	width:100%;
	background-color:#a6a8ab;
	margin-bottom:25px;
}

#contact-module .inside {
	position:relative;
	float:right;
	padding:25px 25px 19px 0;
	width:400px;
	margin-right:55px;
}

#contact-module .inside .h2 {
	color:#FFF;
	font-size:18px;
	font-weight:bold;
	width:100%;
}

#contact-module .inside p {
	font-size:12px;
	line-height:20px;
	color:#FFF;
}

table {
	margin-top:10px;
	border-collapse:separate;
	border-spacing:2px;
	display:table;
}

tbody {
	display:table-row-group;
	vertical-align:middle;
	border-color:inherit;
}

tr {
	display:table-row;
	vertical-align:inherit;
	border-color:inherit;
}

td {
	margin:50px;
	font-size:13px;
	line-height:20px;
	color:#666;
	padding-right:10px;
}

td a {
	color:#666;
	text-decoration:none;
}

td a:hover {
	color:#EAA82E;
}

#contact-module .inside table a {
	color:#FFF;
	text-decoration:none;
	font-weight:bold;
}

#contact-module .inside table a:hover {
	color:#0f2b5b;
	text-decoration:none;
}

/*#content-module .inside table td:first-child {
	font-weight:bold;
	padding-right:10px;
}*/

#contentkanan {
	position:relative;
	z-index:1;
	float:left;
	margin-left:320px;
	background-color:#FFF;
}

#contentabout #contentkanan .inside {
	width:590px;
	padding:25px;
}

#contentabout #contentkanan .inside h1 {
	font-size:18px;
	width:100%;
	display:inline-block;
	margin:0;
	padding:0 0 10px 0;
	color:#0f2b5b;
	font-weight:bold;
	text-transform:uppercase;
}

#item-links {
	float:right;
	width:140px;
	padding:15px;
	background:#edeeee;
	margin:0 -10px 59px 20px;
}

#item-links .item image {
	margin-bottom: 15px;
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
    -webkit-transition: all 400ms ease;
    transition: all 400ms ease;
}

.inside p {
	font-size:13px;
	line-height:22px;
	color:#666;
}

#contentabout #contentkanan .inside h2 {
	font-size:16px;
	display:inline-block;
	margin-top:20px;
	padding:0 0 10px 0;
	color:#0f2b5b;
	font-weight:bold;
	text-transform:uppercase;
}

#contentabout #contentkanan .inside img {
	float:left;
	margin-right:10px;
}

#contentabout #contentkanan .inside .jskabout img {
	float:left;
	margin-right:0px !important;
	padding-bottom:10px;
}

.bold {
	font-weight:bold;
}

#contentabout #contentkanan .inside h3 {
	font-size:16px;
	display:inline-block;
	margin-top:20px;
	padding:0 0 10px 0;
	color:#0f2b5b;
	font-weight:bold;
	text-transform:uppercase;
}

/*end about*/

/* map */

#contentmap {
	position:relative;
	z-index:1;
	float:right;
	padding: 10px 29px 10px 10px;
	/*padding-right:39px;
	padding-left:20px;
	padding-top:20px;*/
	margin-bottom: 680px;
	margin-top: 20px;
	/*margin-left: 20px;*/
	background-color:#FFF;
}

#map {
	width:500px;
	height:400px;
	background-color:#CCC;
}

/* end map */

/*menu table*/

.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 16px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 16px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg .tg-gumd{font-weight:bold;font-size:11px;background-color:#c0c0c0;vertical-align:top; width:250px;}
.tg .tg-gumf{font-weight:bold;font-size:11px;background-color:#c0c0c0;vertical-align:top; width:170px;}
.tg .tg-5cjr{font-weight:bold;font-size:11px;background-color:#c0c0c0;text-align:center;vertical-align:top}
.tg .tg-q19q{font-size:11px;vertical-align:top}
.tg .tg-g5xs{font-size:11px;text-align:center;vertical-align:top}

/*end table*/

/*spek table*/

.tt  {border-collapse:collapse;border-spacing:0;}
.tt td{font-family:Arial, sans-serif;font-size:12px;padding:5px 5px;border-style:none;border-width:0px;overflow:hidden;word-break:normal;}
.tt th{font-family:Arial, sans-serif;font-size:12px;font-weight:normal;padding:5px 5px;border-style:none;border-width:1px;overflow:hidden;word-break:normal;}

/*end spek table*/
